.prompt-modal-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #252525aa;
    inset: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prompt-modal-content {
    background-color: #B5CDD2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    max-height: 53%;
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
    color: #252525;
    gap: 15px;

    h2 {
        margin: 0px;
    }
}

.prompt-itens {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.prompt-itens::-webkit-scrollbar {
    display: none;
  }

.prompt-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.delete-prompt-icon {
    cursor: pointer;
}

.modal-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}