.addbutton-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    border-radius: 35px;
    gap: 10px;
    width: fit-content;
    height: 36px;
    cursor: pointer;
    transition: all 0.5s ease;

    p {
        text-overflow: ellipsis;
        position: relative;
        margin: 10px;
        font-size: 18px;
        right: 10px;
        color: var(--dark-blue);
    }
}

.addbutton-container.close {
    background-color: var(--dark-blue);
    width: fit-content;
    p {
        display: none;
    }
}

.addbutton-container:hover {
    background-color: #cbeaf0;
}

