.sendbutton-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--medium-blue);
    width: 45px;
    height: 45px;
    border-radius: 25px;
    cursor: pointer;
}