.textbubble-container {
    width: 90%;
    height: fit-content;
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    word-break: break-word;
    line-height: 23px;
}

.user-message {
    max-width: 60%;
    width: fit-content;
    height: fit-content;
    background-color: var(--medium-blue);
    float: right;
    border-radius: 25px;

    p {
        color: var(--white);
        float: right;
        padding: 0px 15px;
        margin: 10px 0px;
    }
}

.chat-message {
    width: 100%;
    width: fit-content;
    height: fit-content;
    background-color: var(--white);
    float: left;
    border-radius: 25px;

    p {
        color: var(--black);
        float: left;
        padding: 0px 15px;
        margin: 10px 0px;
    }
}

.chat-message.main {
    background-color: #FFD966;
}