.chatitem-container {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 2.25rem;
    width: 100%;
    gap: 12px;
    color: var(--white);
    cursor: pointer;
    white-space: nowrap;
    margin-left: 8px;

    p {
        display: inline;
        font-size: 16px;
        max-width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.2s ease;
    }

}

.chatitem-container:hover {

    p {
        font-weight: 600;
    }
}

.chatitem-icon {
    margin-top: 5px;
}