.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100px;
    height: fit-content;
    padding: 8px 10px;
    cursor: pointer;
}

.button-container.blue {
    background-color: var(--medium-blue);
    color: var(--white);
}

.button-container.white {
    background-color: var(--white);
    color: var(--black);
}