:root {
  --dark-blue: #2F4D65;
  --medium-blue: #436987;
  --light-blue: #B5CDD2;
  --white: #FEFFFC;
  --black: #252525;
  --modal-background: #252525aa;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
