.delete-modal-content {
    background-color: #B5CDD2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    max-height: 53%;
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
    color: #252525;
    gap: 10px;

    h2 {
        margin: 0px;
        text-align: center;
        text-overflow: ellipsis;
        word-break: break-all;
    }

    p {
        text-align: center;
    }
}

.modal-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}