.chatlist-container {
    margin: 1rem;
    max-height: 85%;
    height: 100%;
    width: 90%;
    line-height: 1;
    overflow-y: auto;
    overflow-x: hidden;
    
    h3 {
        font-size: 16px;
        font-weight: 600;
        color: var(--white);
    }
}

.chatlist-container.close {
  margin-top: 11px;
}

.chatlist-container::-webkit-scrollbar {
  width: 0.6rem;
  max-height: 100px;
}

.chatlist-container::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 10px;
}

/* Handle */
.chatlist-container::-webkit-scrollbar-thumb {
  background: var(--white);
  box-shadow: inset 0 0 5px rgb(56, 56, 56);
  border-radius: 10px;
}

.chatlist-items {
  width: 100%;
}