.evaluation-modal-content {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 500px;
    height: fit-content;
    max-height: 53%;
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
    color: var(--black);
    gap: 10px;

    h2 {
        margin: 0px;
        text-align: center;
    }

    p {
        margin: 0px;
        text-align: center;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 24px; /* Ajuste o tamanho do spinner */
    animation: spin 1s linear infinite; /* Aplica a animação */
}

.evaluation-itens {
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.evaluation-itens.show {
    overflow-y: auto;

    pre {
        /* font-family: "Noto Sans", sans-serif; */
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
}

.evaluation-itens.show::-webkit-scrollbar {
    width: 0.8rem;
    max-height: 100px;
  }
  
.evaluation-itens.show::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 10px;
}

.evaluation-itens.show::-webkit-scrollbar-thumb {
    background: var(--white);
    box-shadow: inset 0 0 5px rgb(56, 56, 56);
    border-radius: 10px;
}

.modal-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}